<div class="container-fluid bg-light">
    <div class="container bg-light">
        
        <div class="row mt-4">

            <div class="col"></div>
            <div class="col-md-6 bg-white">

                <div class="card bg-warning">
                    <h4 class="text-white">TO DO LIST</h4>
                </div>

                <div class="shadow">
                    <div class="input-group p-4">
                        <input type="text" class="form-control" placeholder="Enter task">
                        <button class="btn btn-outline-success" type="button">Add</button>
                      </div>
                </div>

                <h4 class="text-primary mt-4">Tasks : </h4>

                <div style="overflow-y: auto; width: 350px;">
                    <div class="m-3">
                        <div class="p-2 shadow">
                            
                        </div>
                    </div>
                </div>

            </div>
            <div class="col"></div>

        </div>

    </div>
</div>
